:root {
  --font-timer: "Google Sans Code", "JetBrains Mono", monospace;
  --font-text: "Google Sans Flex", "Zalando Sans", sans-serif;
}

body {
  font-family: var(--font-text);
}

.time-display {
  font-family: var(--font-timer);
}
